section.contacts
    h2 Контакты

    .contacts__case
        .contacts__items
            .contacts__item
                .contacts__image
                .contacts__person
                    .contacts__name Сидоров Александр
                    .contacts__position Куратор по направлению дизайн

                    .contacts__phone +7(928)433-44-45
                    .contacts__email sidorov@itstep.org

        .contacts__map