footer.footer
    .footer__case
        .footer__contacts
            a.footer__phone
                i.fa.fa-phone.footer__icon
                | +7 (921)&nbsp;
                span 55-66-846
            .footer__schedule
                i.fa.fa-clock-o.footer__icon
                | График работы:&nbsp;
                span с 9:00 до 21:00
            .footer__address
                i.fa.fa-map-marker.footer__icon
                | Главный офис «Smart it academy»
                span  г. Краснодар, ул. Северная 490

        .footer__socials
            a.footer__social
                i.fa.fa-vk.footer__socialIcon
            a.footer__social
                i.fa.fa-facebook.footer__socialIcon
            a.footer__social
                i.fa.fa-twitter.footer__socialIcon
            a.footer__social
                i.fa.fa-instagram.footer__socialIcon

        .footer__subscription
            .footer__subscriptionTitle Оставьте свой e-mail для получения информации о курсах и событиях
            .footer__subscriptionCase
                input.footer__subscriptionEmail()
                button.footer__subscriptionBtn
                    i.fa.fa-paper-plane
    .footer__bottom
        .footer__bottomCase
            a.footer__agreement Пользовательское соглашение
            .footer__copyright © Copyright 2017 — 2018 by Smart It Academy
            a.footer__made Сделано в&nbsp;
                img(src="/assets/img/BlazeLogo.png")


script(src='/assets/js/foundation.js' defer)
script(src='/assets/js/app.js' defer)