header.header
    img.header__logo(src="/assets/img/svg/SmartLogoDark.svg")
    .headerNav
        button.headerNav__button

        a.headerNav__link(href="#") Программы
        a.headerNav__link(href="#") Интенсивы
        a.headerNav__link(href="#") Академия
        a.headerNav__link(href="#") Блог
        a.headerNav__link(href="#") Контакты
        a.headerNav__enter(href="#")
            i.fa.fa-sign-in
            span Вход