section.keyvisual(id="particles-js")
    .keyvisual__case
        h1.keyvisual__title Профессиональное компьютерное образование
        .keyvisual__description Пройди путь от чайника до профессионала с ведущими преподавателями практиками, создай портфолио и получи достойную работу
        .keyvisual__banner
