section.reviews
    h2 Отзывы
    .reviews__slider
        .sliderControl
            .sliderControl__prev(title="Предидущий")
                img.sliderControl__icon(src="/assets/img/svg/arrows/arrows__left.svg")
            .sliderControl__next(title="Следующий")
                img.sliderControl__icon(src="/assets/img/svg/arrows/arrows__right.svg")

        .reviews__items
            .reviews__item
            .reviews__item