section.teachers
    h2 Преподаватели


    .teachers__slider
        .sliderControl
            .sliderControl__prev(title="Предидущий")
                img.sliderControl__icon(src="/assets/img/svg/arrows/arrows__left.svg")
            .sliderControl__next(title="Следующий")
                img.sliderControl__icon(src="/assets/img/svg/arrows/arrows__right.svg")


        .teachers__items
            .teachers__item
                .teachers__image
                .teachers__case
                    .teachers__name Сидоров Александр
                    .teachers__description Директор по маркетингу компьютерная академия Smart