.complex {

  padding: 100px 0 0 0;

  &__tabs {
    @extend .case;
    display: flex;
    color: $dark;

    margin-top: 40px;

    @include respond-to("phablet") {
      padding: 0;
      display: none;
    }
  }

  &__tab {
    display: inline-block;
    margin: 0;
    padding: 0;
    @include ProximaNova("semibold");
    font-size: 30px;
    padding: 18px 36px;
    border: 1px solid $blue;

    @include respond-to("tabletPortrait") {
      font-size: 24px;
    }

    &__active {
      background: $blue;
    }
  }
}

.complexItems {
  @extend .case;
  padding-top: 60px;
  padding-bottom: 60px;
  color: $dark;

  @include respond-to("desktop") {
    padding-top: 60px;
  }

  @include respond-to("phablet") {
    padding: 0;
  }
}

.complexItem {
  position: relative;
  padding: 65px 80px;
  background: $white;
  margin-bottom: 20px;

  @include respond-to("tabletPortrait") {
    padding: 35px;
  }

  @include respond-to("iPhone") {
    padding: 35px;
  }

  &__icon {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 20px;
    margin-right: 10px;

    @include respond-to("iPhone") {
      font-size: 16px;
    }
  }

  &__title {
    @include ProximaNova("semibold");
    font-size: 36px;
    margin: 0 0 18px 0;

    @include respond-to("tabletPortrait") {
      font-size: 28px;
    }

    @include respond-to("iPhone") {
      font-size: 20px;
    }
  }

  &__availability {
    position: absolute;
    top: 65px;
    right: 80px;
    text-align: right;

    @include respond-to("tabletPortrait") {
      top: 35px;
      right: 35px;
    }

    @include respond-to("phablet") {
      position: static;
      top: inherit;
      left: inherit;
      margin-bottom: 20px;

    }
  }


  &__level {
    display: inline-block;
    @include ProximaNova();
    font-size: 24px;
    margin-right: 10px;
  }

  &__person {
    display: inline-block;
    @include ProximaNova();
    font-size: 24px;
  }

  &__level, &__person {
    @include respond-to("tabletPortrait") {
      font-size: 18px;
    }
  }

  &__description {
    max-width: 704px;
    @include ProximaNova();
    font-size: 24px;
    margin-bottom: 55px;

    @include respond-to("tabletPortrait") {
      font-size: 18px;
      line-height: 1.4em;
    }

    @include respond-to("phablet") {
      display: none;
    }
  }


  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 65px;


    @include respond-to("phablet") {
      display: block;
      margin: 0 ;
    }
  }

  &__date {
    @include ProximaNova();
    font-size: 24px;
    margin-bottom: 13px;
    padding-left: 24px;
    position: relative;

    span {
      display: inline-block;
    }

    @include respond-to("phablet") {
      font-size: 16px;
    }
  }

  &__about {
    padding-left: 24px;
    position: relative;
    font-size: 24px;

    span {
      display: inline-block;
    }

    @include respond-to("phablet") {
      margin-bottom: 15px;
      font-size: 16px;
    }
  }


  &__date, &__about {
    @include respond-to("tabletPortrait") {
      font-size: 18px;
    }
  }


  &__btn {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 240px;

    @include respond-to("tabletPortrait") {
      max-width: 180px;
    }

    @include respond-to("phablet") {
      max-width: none;
    }
  }

  &__detail {
    width: 34px;
    height: 17px;
    margin: 0 auto;

    @include respond-to("phablet") {
      display: none;
    }
  }
}