.keyvisual {
  box-sizing: border-box;
  margin: 0;
  padding: 1px 0 0 0;
  height: 100vh;
  max-height: 1060px;
  background: $darkBlue;

  canvas {
    position: absolute;
    top: 0;
    z-index: 1;
  }

  &__case {
    position: relative;
    @extend .case;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;


    height: 100%;
  }

  &__title {
    @include ProximaNova("extraBold");
    font-size: 52px;
    color: $pink;
    max-width: 1018px;
    text-transform: uppercase;


    @include respond-to("phablet") {
      font-size: 28px;
    }

    @include respond-to("iPhone") {
      font-size: 24px;
    }
  }

  &__description {
    @include ProximaNova("light");
    font-size: 30px;
    color: $blue;
    max-width: 960px;
    margin: 0 0 85px 0;

    @include respond-to("phablet") {
      font-size: 20px;
    }

    @include respond-to("iPhone") {
      font-size: 18px;
    }
  }

  &__banner {
    height: 200px;
    margin: 0 0 160px 0;


  }
}
